TELEGRAM_BOT_TOKEN=
MONGODB_URI=
HERO_SMS_API_KEY=
HERO_SMS_BASE_URL=https://hero-sms.com/stubs/handler_api.php
BOT_OWNER_IDS=
PORT=3000
PUBLIC_BASE_URL=
HERO_SMS_WEBHOOK_SECRET=
DEFAULT_COUNTRY_PRIORITY=Philippines,Vietnam
DEFAULT_SERVICE_CODE=
DEFAULT_MAX_PRICE=
POLL_INTERVAL_MS=15000
POLL_BATCH_LIMIT=20
ORDER_CONCURRENCY_LIMIT=3
